<!--
  Used for visualising rplidar in action.  
  
  It requires rplidar.launch.
 -->
<launch>
  <include file="$(find rplidar_ros)/launch/rplidar_s2.launch" />

  <node name="cluster_laser" pkg="cluster_laser" type="cluster_laser.py" output="screen" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mowerRobot_launch)/rviz/mower.rviz" /> 

  

  <!-- <node name = "imu" pkg="sparkfun_VR_IMU" type = "serial_uart_rvc_ros.py" /> -->

 <!--  <node name = "imu_to_odom" pkg = "imu_to_odom" type = "imu_to_odom_node" /> -->


</launch>